<div class="container">
  <div class="content">
    <div class="bookmark-tiles">
      @for (item of bookmarks; track $index) {
        <app-bookmark [item]="item"></app-bookmark>
      }
    </div>

    <div class="btns-container btns-centered">
      <a routerLink="add" class="btn add-btn">
        <i class="material-icons-outlined">add</i>Add
      </a>
      <a routerLink="manage" class="btn manage-btn">
        <i class="material-icons">settings</i>Manage
      </a>
    </div>
  </div>
</div>
