<div class="notes-wrapper">

    <div class="container">

        <div class="notes-list">

			@for (note of notes(); track note.id; let i = $index) {
				<a [routerLink]="[note.id]" class="note-card">
					<app-note [note]="note"
						[style.--i]="i"
						animate.enter="stagger-in"
						animate.leave="stagger-out" />
				</a>
			}

        </div>

        <div class="btns-container btns-centered">
            <a [routerLink]="['add']" class="btn add-btn">
                <i class="material-icons-outlined">add</i>
                Add
            </a>
        </div>

    </div>

</div>
